<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Not Found</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">
      Account Not Found
    </div>
    <div class="card-body">
      <h5 class="card-title">We're sorry, the account you are looking for could not be found.</h5>
      <p class="card-text">Please check the details you entered and try again.</p>
      <hr>
      <div class="form-group row">
        <label for="code" class="col-sm-3 col-form-label" >Error Code:</label>
        <div class="col-sm-9">
          <p type="text" readonly class="form-control-plaintext" id="code" value="404">404 </p>
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">Requested Adress:</label>
        <div class="col-sm-9">
          <p type="text" readonly class="form-control-plaintext" id="address" th:text="${address}"><p></p>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a href="#" class="btn btn-primary" th:href="@{/transaction/redirect/send/{address}(address=${address})}">Resume transaction</a>
    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1 predispose to OyY1pePzFON7uW6Xa//Z7urx9s="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
