<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>500 Error - Internal Server Error</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEK6UksdQRVvoxMfooNw5" crossorigin="anonymous">
</head>
<body>

<div class="container my-5 text-center">
	<h1 class="display-1">500 Error</h1>
	<h2 class="display-4">Internal Server Error</h2>
	<p class="lead">We're sorry, but something went wrong on our end.</p>
	<p>Please <a href="/login">login</a>  again , or contact our support team if the problem persists.</p>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-QMvFgBjF2w4C1KoBYTf6gZY29M4kqcFkDRnCmOV+K3m/rz4a4+SWFt8lW5g2XkC5" crossorigin="anonymous"></script>

</body>
</html>
