<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Thymeleaf Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SWAG OP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <a class="navbar-brand" th:href="@{/user/{userId}(userId=${user.id})}">User</a>
        <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/portfolio/{userId}(userId=${user.id})}">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Main content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-5">
                <h1>Welcome to SWOG OP <p th:text="${user.firstName}"></p></h1>
                <p class="lead">Please choose an option below:</p>
            </div>
            <div class="text-center">
                <a th:href="@{/wallet/redirect/create/{id}(id=${user.id})}" class="btn btn-primary btn-lg mr-3">Create Wallet</a>
                <a th:href="@{/wallet/redirect/import/{id}(id=${user.id})}" class="btn btn-secondary btn-lg ml-3">Import Wallet</a>
            </div>
        </div>
    </div>
</div>

